# Firebase Environment Variables
# Copy these values from your Firebase Console and paste them in this file
# Then rename this file to .env

# To get these values:
# 1. Go to Firebase Console (https://console.firebase.google.com/)
# 2. Select your project or create a new one
# 3. Click on Project Settings (gear icon)
# 4. Go to General tab and scroll down to "Your apps"
# 5. If you don't have a web app, click "Add app" and select Web
# 6. Copy the values from the config object

EXPO_PUBLIC_FIREBASE_API_KEY=your_api_key_here
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=your_project_id.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=your_project_id_here
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=your_project_id.appspot.com
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=your_messaging_sender_id_here
EXPO_PUBLIC_FIREBASE_APP_ID=your_app_id_here
EXPO_PUBLIC_FIREBASE_MEASUREMENT_ID=your_measurement_id_here

# Additional environment variables for your app
EXPO_PUBLIC_APP_NAME=Auto Body Estimator
EXPO_PUBLIC_APP_VERSION=1.0.0